[submodule "wftools/y-crdt"]
	path = wftools/y-crdt
	url = https://github.com/y-crdt/y-crdt.git
[submodule "cmake/Corrosion"]
	path = cmake/Corrosion
	url = https://github.com/corrosion-rs/corrosion.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
